// colors:

$white: #FFFFFF;
$waylonGray: #E2E8F7;
$bgLtGray: #BBBBBB;
$shallowBlue: #5AFFFF;
$modalBlue: #46CACA;
$waylonEye: #5073D6;
$waylonBlue: #32669E;
$storyBlue: #134B88;
$deepBlue: #000050;
$bgDkGray: #222222;
$black: #000000;

