// colors:

$white: #FFFFFF;
$waylonGray: #E2E8F7;
$bgLtGray: #BBBBBB;
$skyTop: #8699F6;
$skyCrest: #93BDF4;
$oceanCrest:#5AFFFF;
$skyHorizon: #97C9F3;
$oceanHorizon: #57F7FA;
$skyTrough: #9AD3F3;
$oceanTrough: #55F2F7;
$modalBlue: #46CACA;
$waylonEye: #5073D6;
$waylonBlue: #32669E;
$storyBlue: #134B88;
$deepBlue: #000050;
$bgDkGray: #222222;
$modalBG: rgba(0,0,80,0.5);
$shadow: rgba(0,0,0,0.6); 
$black: #000000;


