body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: linear-gradient($bgGray, #222222);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 5vh;
  border: solid 5px black;
}

.wrapper {
  position: relative;
  white-space: nowrap;
  border: solid 5px white;
}

.aspect-ratio-svg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  border: solid 5px fuchsia;
}

.positioner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.aspect-ratio {
  // top: 10px;
  // position: relative;
  width: 100%;
  padding-top: 83.33%;
  border: solid 5px purple;
}


.board-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: normal;
  border: solid 5px green;
}

header {
  background-image: linear-gradient(#8699f6,#9ad3f3);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 5px black;
}

.waylon-logo {
  height: 100%;
  width: auto;
}

h1, h3 {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  text-align: center; 
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h3 {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
}

button {
  height: 50px;
  width: 100px;
  color: $deepBlue;
  background-color: $waylonEye;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border-radius: 20px;
}

button:hover {
  color: $deepBlue;
  background-color: $shallowBlue;
}

main {
  border: solid 5px yellow;
  display: block;
  position: relative;
  width: 100%;
  height: 80%;
  background-image: linear-gradient($shallowBlue, $deepBlue);
  overflow: hidden;
}

.game-container {
  position: relative;
  border: solid 5px orange;
}

footer {
  width: 100%;
  height: 10%;
  background-color: $deepBlue;
  border: solid 5px red;
}

.profile-link-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  list-style: none;
  text-decoration: none;
  background-color: $bgGray;
  width: 20%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  border-radius: 20px;
  opacity: .7;
}

.profile-link:hover {
  opacity: 1;
}

.profile-list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 60px;
}

.profile-link-image {
  height: 50px;
  
}
