body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: linear-gradient($bgGray, #222222);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 5vh;
}

.maintain-aspect-ratio { /* aspect ratio 6w:5h | 6/5 = 1.2 */
  position: absolute;
  width: 100vw; 
  max-width: 120vh; /* (1100 * 1.2 = 120) */
  max-height: 99vh;
  height: 82.5vw; /* (99 / 1.2 = 82.5) */
  margin: auto;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}

header {
  background-image: linear-gradient(#8699f6,#9ad3f3);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.waylon-logo {
  height: 100%;
  width: auto;
}

h1 {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  text-align: center; 
  font-weight: 700;
  font-size: 40px;
}

button {
  height: 50%;
  width: 10%;
  color: $deepBlue;
  background-color: $waylonEye;
  font-size: 3.2vmin;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border-radius: 45%;
}

button:hover {
  color: $deepBlue;
  background-color: $shallowBlue;
}

main {
  display: block;
  position: relative;
  width: 100%;
  height: 80%;
  background-image: linear-gradient($shallowBlue, $deepBlue);
  overflow: hidden;
}

footer {
  width: 100%;
  height: 10%;
  background-color: $deepBlue;
}

.profile-link-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  list-style: none;
  text-decoration: none;
  background-color: $bgGray;
  width: 20%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  border-radius: 45%;
  opacity: .7;
}

.profile-link:hover {
  opacity: 1;
}

.profile-link-image {
  height: 5vmin;
  
}
