#waylon {
  position: absolute;
  left: 15%;
  width: 20vmin;
  transition-property: top, transform;
  transition-duration: 0.3s;
}

#thar-she-blows {
  position: absolute;
  left: 30%;
  height: 10%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}