// @import "./reset.scss";
// @import "./colors.scss";
// @import "./main.scss";

// @import "./waylon.scss";
// @import "./modal.scss";

// Webpack doesn't like @importing stuff, I guess


// colors:
$waylonBlue: #32669E;
$waylonEye: #5073D6;
$waylonGray: #E2E8F7;
$shallowBlue: #5AFFFF;
$modalBlue: #46CACA;
$deepBlue: #000050;
$bgGray: #BBBBBB;

// reset:
CSS RESET

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// main:
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: linear-gradient($bgGray, #222222);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 5vh;
}

header {
  background-image: linear-gradient(#8699f6,#9ad3f3);
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.waylon-logo {
  height: 95%;
  width: auto;
}

h1, h3 {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  text-align: center; 
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h3 {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
}

button {
  height: 50px;
  width: 100px;
  color: $deepBlue;
  background-color: $waylonEye;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border-radius: 20px;
}

button:hover {
  color: $deepBlue;
  background-color: $shallowBlue;
}

main {
  display: block;
  position: relative;
  width: 80%;
  height: 80%;
  background-image: linear-gradient($shallowBlue, $deepBlue);
}

.game-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

footer {
  width: 80%;
  height: 10%;
  background-color: $deepBlue;
}

.profile-link-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  list-style: none;
  text-decoration: none;
  background-color: $bgGray;
  width: 20%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  border-radius: 20px;
  opacity: .7;
}

.profile-link:hover {
  opacity: 1;
}

.profile-list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 60px;
}

.profile-link-image {
  height: 50px;
  
}

// waylon:
#waylon {
  position: absolute;
  left: 15%;
  width: 20%;
  // height: 10%;
  // try to find a way to keep waylon proportionate to both w & h
  // $waylonWidth: 20%;
  // $waylonHeight: 10%;
  // max-width: calc($waylonHeight * 2);
  // max-height: calc($woylonWidth / 2);
  transition-property: top;
  transition-duration: 0.2s;
}


// modal:
#modal {
  // display: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-bottom: 50em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,80,0.5); 
}

.modal-content {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $waylonBlue;
  font-weight: 600;
  // look to add moving light effect to linear-gradient
  background-image: linear-gradient($shallowBlue, $modalBlue);
  margin: auto 30%;
  padding: 40px;
  box-shadow: -1px 10px 2px 1px rgba(0, 0, 0, .6) ;
  border-radius: 50px;
  animation-name: zoom;
  animation-duration: 0.9s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.9s;
}

p {
  line-height: 24px;
  text-align: left;
}

.story {
  text-align: center;
}

.boom {
  font-size: 42px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;  
}

.emphasis {
  font-weight: 900;
  color: $deepBlue;
}

.instructions-heading {
  font-size: 20px;
  line-height: 30px;
}

.instructions-text {
  list-style-type: disc;
  text-indent: 30px;
  line-height: 20px;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

// .close {
//   font-family: Arial, Helvetica, sans-serif;
//   position: absolute;
//   top: 25px;
//   right: 55px;
//   color: #f1f1f1;
//   font-size: 40px;
//   font-weight: bold;
//   transition: 0.3s;
// }

// .close:hover,
// .close:focus {
//   color: #bbb;
//   text-decoration: none;
//   cursor: pointer;
// }

// @media only screen and (max-width: 700px){
//   .modal-content {
//     width: 80%;
//   }
// }



