h1, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: darkblue;
  text-align: center; 
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}

button {
  height: 50px;
  width: 100px;
  color: darkblue;
  background-color: lightblue;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: block;
  position: relative;
  height: 70%;
  border: 5px solid darkcyan;
  background-image: linear-gradient(cyan, darkblue);
}

.game-container {
  height: 600px;
  position: relative;
  overflow: hidden;
}

#waylon {
  position: absolute;
  left: 150px;
  width: 300px;
  transition-property: bottom;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}